*.sql
!packages/db/drizzle/0001_huge_darwin.sql
!packages/db/drizzle/0002_daily_loners.sql
/data
/uploads
/vendor
/old/
.DS_Store
.idea
node_modules/
dist/
coverage/
playwright-report/
test-results/
.env
.env.*
!.env.example
*.tsbuildinfo
